# dependencies
/Módulo 4/Unidad 3/node_modules
/Módulo 4/Unidad 4/node_modules
/Módulo 5/Unidad 3/node_modules
/Módulo 5/Unidad 4/backend/node_modules
/Módulo 6/backend/node_modules
/Módulo 6/frontend/node_modules