<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pagina1">Página 1</a></li>
        <li><a href="/pagina2">Página 2</a></li>
        <li><a href="/pagina3">Página 3</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
