<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-center">¡Hola {{ usuario }}!
            <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </p>
    </div>
</div>