#contenedor{
    border: 3px solid black;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#rojo{
    background-color: red;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-content: center;
}
#azul{
    background-color: blue;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-content: center;
}
#verde{
    background-color: green;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-content: center;
}